* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url('https://i.pinimg.com/564x/5f/d3/ed/5fd3ed7b62be627f4bc73c3b813a004b.jpg');
    background-size: cover;
    background-position: center;
    color: #d6d6d6;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo com transparência para melhor contraste */
    color: #fff;
    padding: 20%;
    text-align: center;
    position: relative;
}

.titulo {
    display: inline-block;
    margin: 0;
    color: #fff;
}

.btn-sobre-mim {
    padding: 0% 0%;
    font-size: 1em;
    cursor: pointer;
    background-color: #404c5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 5%;
    transform: translateY(-50%);
    
}

.btn-sobre-mim:hover {
    background-color: #0150a3;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#sobre-mim, #projetos, #contato {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projetos .projeto {
    margin-bottom: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
